/*------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sintony:wght@400;700&display=swap');

/*------------Background Colors*/

.bg-color-header {
    background-color: #0f2554;
}

.bg-color-footer {
    background-color: #0f2554;
}

/*------------Header*/

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-family: "Sintony", sans-serif;
    font-weight: 700;
    font-size: 200%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    letter-spacing: -2px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.logo a:hover {
    color: #a5551a;
}

ul li {
    display: inline;
}

.navigation {
    font-size: 80%;
    padding-left: 0px;
    margin-top: 20px;
    text-align: center;
    
}

.navigation ul {
    padding: 0;
}

#nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#nav a:hover {
    color: #a5551a;
    
}

.active-link {
    border-bottom: 2px solid #8B8B8B;
}
.spacer {
    font-weight: bolder;
    color: #fff;
}

/*------------Footer*/

.copyright {
    color: #fff;
    text-align: center;
}

.social_media {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footer_headings {
    font-family: "Sintony", sans-serif;
    font-size: 14px;
    text-align: center;
}

.footer_col {
    margin-top: 20px;
    text-align: center;
}

.social-media-links a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline {
    list-style: none;
}

.social-media-links a:hover {
    color: #a5551a;
}

.empty-col {
    height: 0px;
}

/*------------Padding, Margin and Text Effects*/

.uppercase {
    text-transform: uppercase;
}



/*------------Welcome image and welcome message*/

.welcome-image {
    background: url("../images/welcome_picture_compressed.jpg") no-repeat top center;
    background-size: cover;
    height: 600px;
}

.welcome-text {
    color: #fff;
    font-size: 100%;
    font-family: "Sintony", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 275px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(165, 85, 26, 0.5);
    top: 300px;
    left: 40px;
    position: absolute;
}

/*------------About page styling*/

.about_header,
.meet_header {
    color: #0f2554;
    font-size: 200%;
    font-family: "Sintony", sans-serif;
    padding: 15px 0px 10px 15px;
}

.about-info p {
    color: #8B8B8B;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    padding: 0px 15px 10px 15px;
}

.resident_dogs {
    color: #0f2554;
    font-size: 150%;
    font-family: "Sintony", sans-serif;
    padding: 15px 0px 10px 15px;
}

.dog_names {
    color: #0f2554;
    font-size: 120%;
    font-family: "Sintony", sans-serif;
    padding: 15px 0px 10px 15px;
}

.about-info p b {
    color: #0f2554;
    font-weight: bolder;
}

/*------------Media Queries*/

@media screen and (min-width: 819px) {
    .logo {
        margin-bottom: 20px;
    }
    
    .navigation {
        margin-top: 45px;
        letter-spacing: -1px;
    }

    .copyright {
        margin-top: 35px;
    }

    .welcome-image {
        height: 800px;
    }
}

@media screen and (min-width: 1394px) {
    
    .logo {
        margin-bottom: 20px;
    }

    .navigation {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 100%;
        letter-spacing: 1px;
    }

    #nav a:hover {
        color: #a5551a;
        text-decoration: underline;
    }

    .copyright {
        margin-top: 40px;
    }

    .welcome-image {
        height: 1000px;
    }
}